// В этом файле должны быть стили для БЭМ-блока follow-us, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.follow-us {

  $block-name:                &; // #{$block-name}__element

  &__title {
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;

    margin: 0;
    margin-bottom: 30px;

    @media (max-width: $screen-sm) {
      margin-bottom: 25px;
     }
  }

  &__form {
    input {
      width: 100%;
      padding: 22px;
      margin-bottom: 30px;
      text-align: center;
      outline: none;
      border: 1px solid rgba(0, 0, 0, 0.3);

      &:hover,
      &:focus {
        cursor: pointer;
        transition: $transition-time;
        border: 1px solid rgba(0, 0, 0, 0.5);
      }
    }
  }

  &__form::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }

  &__info {
    margin: 0;
    margin-bottom: 50px;

    a {
      color: rgba(0, 0, 0, 0.5);
      margin-left: 5px;
      text-decoration: underline;

      &:hover,
      &:focus {
        cursor: pointer;
      }
    }

    @media (max-width: $screen-sm) {
      font-size: 10px;
      line-height: 15px;
      margin-bottom: 20px;
     }
  }

  &__text {
    margin: 0;

    &--margin {
      margin-bottom: 25px;
    }

    @media (max-width: $screen-sm) {
      font-size: 12px;
     }
  }

  .btn {
    width: 100%;
  }
}
