// В этом файле должны быть стили для БЭМ-блока mojo-about, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.mojo-about {
  $block-name:                &; // #{$block-name}__element

  margin-top: 90px;
  margin-bottom: 100px;

  &__logo-wrapper {
    @include container();

    position: absolute;
    padding: 0;
    top: 50%;
    left: -140px;
    transform: translateY(-50%);

    @media (max-width: $screen-lg) {
      left: -120px;
    }
  }

  &__main-title {
    font-size: 28px;
    line-height: 28px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 25px;
  }

  &__block {
    position: relative;
  }

  &__list {
    @include reset-list;
    @include container();

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    margin-bottom: 10.71%;
    padding: 0 198px;

    @media (max-width: $screen-lg) {
      padding: 0 170px;
    }
  }

  .logo {
    img {
      margin: 0;
    }
  }

  &__img {
    display: block;
    margin-left: 16.601%;
    width: 50%;

    @media (min-width: $screen-md) {
      margin-left: 5%;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:nth-child(even) {
      flex-direction: row-reverse;

      img {
        margin-left: 0;
        margin-right: 16.601%;

        @media (min-width: $screen-md) {
          margin-right: 5%;
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 10.71%;
    }
  }

  &__wrapper {
    background-color: $light-peach;
    padding: 165px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__catalog-link {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
  }

  &__inner {
    width: 50%;
  }
}
