// В этом файле должны быть стили для БЭМ-блока mojo-about, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.mojo-about {
  $block-name:                &; // #{$block-name}__element

  margin-top: 90px;
  margin-bottom: 100px;

  @media (max-width: $screen-sm) {
    margin-top: 20px;
  }

  &__logo-wrapper {
    @include container();

    position: absolute;
    padding: 0;
    top: 50%;
    left: -140px;
    transform: translateY(-50%);

    @media (max-width: $screen-lg) {
      left: -120px;
    }

    @media (max-width: $screen-sm) {
      display: none;
    }
  }

  &__main-title {
    @include h2-style;

    font-weight: 400;
    margin: 0;
    margin-bottom: 25px;

    @media (max-width: $screen-sm) {
      font-size: 22px;
    }
  }

  &__block {
    position: relative;
  }

  &__list {
    @include reset-list;
    @include container();

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    margin-bottom: 10.71%;
    padding: 0 198px;

    @media (max-width: $screen-lg) {
      padding: 0 170px;
    }

    @media (max-width: $screen-sm) {
      padding: 0;
    }
  }

  .logo {
    img {
      margin: 0;
    }
  }

  &__img {
    display: block;
    margin-left: 16.601%;
    width: 50%;

    @media (min-width: $screen-md) {
      margin-left: 5%;
    }

    @media (max-width: $screen-sm) {
      margin-left: 0;
      width: 100%;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    // @media (max-width: $screen-sm) {
    //   margin: 0 -22px;
    // }

    &:nth-child(even) {
      flex-direction: row-reverse;

      @media (max-width: $screen-sm) {
        flex-direction: column;
      }

      img {
        margin-left: 0;
        margin-right: 16.601%;

        @media (min-width: $screen-md) {
          margin-right: 5%;
        }

        @media (max-width: $screen-sm) {
          margin-right: 0;
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 10.71%;
    }

    @media (max-width: $screen-sm) {
      flex-direction: column;
    }

    @media (max-width: $screen-sm) {
      margin-bottom: 6%;
    }
  }

  &__wrapper {
    background-color: $light-peach;
    padding: 165px 0;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media (max-width: $screen-sm) {
      font-size: 12px;
      margin: 0;
      background-color: transparent;
      padding: 0 22px;
      padding-top: 75px;
      padding-bottom: 43px;
    }
  }

  &__catalog-link {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;

    @media (max-width: $screen-sm) {
      padding: $field-padding-vertical  $field-padding-horizontal;
      max-width: 100%;
      display: block;
      box-sizing: border-box;
      cursor: pointer;
      color: #ffffff;
      background-color: #E9BD99;
      text-align: center;
      width: 100%;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.8);
      background-color: $button-hover-bg;
      transition: $transition-time;
    }
  }

  &__inner {
    width: 50%;

    @media (max-width: $screen-sm) {
      width: 100%;
      order: 1;
      padding: 0 44px;
      padding-top: 33px;
      padding-bottom: 48px;
      background-color: rgba(0, 0, 0, 0.03);
    }
  }

  &__text {
    @media (max-width: $screen-sm) {
      font-size: 12px;
      margin: 0;
    }

    &--margin {
      margin-bottom: 25px;
    }
  }

  &__title {
    @include h2-style;
    font-weight: 400;

    @media (max-width: $screen-sm) {
      font-size: 22px;
      text-align: center;
    }
  }
}
