// В этом файле должны быть стили для БЭМ-блока faq, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.faq {

  $block-name:                &; // #{$block-name}__element

  &__title {
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;

    margin: 0;
    margin-bottom: 30px;

    @media (max-width: $screen-sm) {
      margin-bottom: 25px;
     }
  }

  &__list {
    @include reset-list;
  }

  &__link {
    color: rgba($color: #000000, $alpha: 0.5);
    display: block;

    &:hover,
    &:focus {
      cursor: pointer;
    }

    @media (max-width: $screen-sm) {
      font-size: 12px;
     }
  }
}
