// В этом файле должны быть стили для БЭМ-блока like, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.like {

  $block-name:                &; // #{$block-name}__element

  &__inner {
    @include container();
    padding: 0 7.5%;
  }

  .catalog__item {
    display: block;
  }

  .goods__title--width {
    max-width: 220px;
  }

  &__main-title {
    @include h2-style;
    font-weight: 400;
    margin-bottom: 6%;
    text-align: center;

    @media (max-width: $screen-sm) {
      font-size: 22px;
    }
  }

  .goods__item {
    img {
      @media (max-width: $screen-sm) {
        max-width: fit-content;
      }
    }
  }

  .goods__list {
    flex-wrap: nowrap;
    --n: 1;
    width: calc(var(--n)*100%);
    overflow-y: hidden;
  }
}
