// В этом файле должны быть стили для БЭМ-блока press, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.press {

  $block-name:                &; // #{$block-name}__element
  margin-bottom: 50px;
  margin-top: 6%;

  &--m0 {
    margin: 0;
  }

  &__inner {
    position: relative;
  }

  &__wrapper {
    width: 633px;

    @media (max-width: $screen-md) {
      width: 100%;
    }

    @media (max-width: $screen-sm) {
      padding: 0 22px;
    }
  }

  &__logo-wrapper {
    @include container();

    margin: 0;
    padding: 0;

    position: absolute;
    top: 0;
    left: -176px;
    // transform: translateY(-50%);

    @media (max-width: $screen-xl) {
      left: -100px;
    }

    @media (max-width: $screen-lg) {
      left: -100px;
    }

    @media (max-width: $screen-sm) {
      display: none;
    }
  }

  &__title {
    @include h2-style;

    font-weight: 400;
    margin: 0;
    margin-bottom: 25px;

    @media (max-width: $screen-sm) {
      margin-left: 0;
      order: -1;
      font-size: 22px;
    }
  }

  &__list {
    @include reset-list;

    @media (max-width: $screen-sm) {
      margin-top: 20px;
    }
  }

  &__item {
    padding: 48px 0;

    &:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.03);
    }

    @media (max-width: $screen-sm) {
      padding: 0;
      padding-bottom: 33px;
    }
  }

  &__item-inner {
    @include container();

    padding: 0 196px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $screen-xl) {
      padding: 0 120px;
      margin-top: 40px;
    }

    @media (max-width: $screen-lg) {
      padding: 0 125px;
    }

    @media (max-width: $screen-md) {
      flex-direction: column;
    }

    @media (max-width: $screen-sm) {
      padding: 0;
    }
  }

  &__img {
    display: block;
    margin-left: 19.257%;

    @media (min-width: $screen-md) {
      margin-left: 5%;
    }

    @media (max-width: $screen-md) {
      margin-left: 0%;
    }

    @media (max-width: $screen-sm) {
      margin-left: 0;
      order: -1;
      margin-bottom: 33px;
    }
  }

  &__text {
    margin: 0;

    @media (max-width: $screen-sm) {
      font-size: 12px;
    }
  }

  &__link {
    display: inline-block;
    margin-top: 6.586%;

    img {
      transition: all $transition-time ease;
    }

    &:hover {
      opacity: 0.8;

      img {
        transform: scale(1.1);
      }
    }

    @media (max-width: $screen-md) {
      margin-bottom: 25px;
    }

    @media (max-width: $screen-sm) {
      margin-top: 15px;
    }
  }

  .logo {
    img {
      margin: 0;
    }
  }
}
