// В этом файле должны быть стили для БЭМ-блока press, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.press {

  $block-name:                &; // #{$block-name}__element

  margin-bottom: 50px;


  &__inner {
    position: relative;
  }

  &__logo-wrapper {
    @include container();

    margin: 0;
    padding: 0;

    position: absolute;
    top: 50%;
    left: -145px;
    transform: translateY(-50%);

    @media (max-width: $screen-lg) {
      left: -100px;
    }
  }

  &__title {
    font-size: 28px;
    line-height: 28px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 25px;
  }

  &__list {
    @include reset-list;
  }

  &__item {
    padding: 4.238% 0;

    &:nth-child(even) {
      background-color: $light-peach;
    }
  }

  &__item-inner {
    @include container();

    // padding: 0 10.157%;
    padding: 0 195px;
    display: flex;
    align-items: center;

    @media (max-width: $screen-lg) {
      padding: 0 145px;
    }
  }

  &__img {
    display: block;
    margin-left: 19.257%;

    @media (min-width: $screen-md) {
      margin-left: 5%;
    }
  }

  &__text {
    margin: 0;
  }

  &__link {
    display: block;

    margin-top: 6.586%;
  }

  .logo {
    img {
      margin: 0;
    }
  }
}
