// В этом файле должны быть стили для БЭМ-блока press, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.press {

  $block-name:                &; // #{$block-name}__element

  margin-bottom: 50px;

  &__logo-wrapper {
    @include container();

    margin-top: 200px;
    margin-bottom: -114px;
  }

  &__title {
    font-size: 28px;
    line-height: 28px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 25px;
  }

  &__list {
    @include reset-list;
  }

  &__item {
    &:nth-child(even) {
      background-color: $light-peach;
    }
  }

  &__item-inner {
    @include container();

    padding: 0 195px;
    display: flex;
    align-items: center;
  }

  &__img {
    display: block;
    padding: 50px 0;
    margin-left: 290px;
  }

  &__text {
    margin: 0;
  }

  &__link {
    display: block;
    margin-top: 60px;
  }
}
