// В этом файле должны быть стили для БЭМ-блока copyright, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.copyright {

  $block-name:                &; // #{$block-name}__element

  &__text {
    margin: 0;
    margin-top: -21px;

    @media (max-width: $screen-sm) {
      margin-top: 60px;
     }
  }
}
