// В этом файле должны быть стили для БЭМ-блока breadcrumbs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.breadcrumbs__list {
  @include reset-list;
  @include container();

  color: $text-color;
  display: flex;

  @media (max-width: $screen-sm) {
    padding: 0 22px;
    flex-wrap: wrap;
  }

  a {
    color: $text-color;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $text-color;
      text-decoration: none;
    }
  }

  @media (max-width: $screen-sm) {
    font-size: 12px;
  }
}

.breadcrumbs__item {
  display: inline-block;
  white-space: nowrap;
  padding: 30px 0;

  &:first-child:after {
    content: '|';
    display: inline-block;
    margin-left: 1.8em;
    color: $gray;

    @media (max-width: $screen-sm) {
      margin-left: 0.8em;
    }
  }

  &:not(:last-child) {
    margin-right: 1.8em;

    @media (max-width: $screen-sm) {
      margin-right: 0.8em;
    }
  }

  // &:not(:last-child) {
  //   @media (max-width: $screen-sm) {
  //     margin-right: 0.8em;
  //   }
  // }

  @media (max-width: $screen-sm) {
    padding: 0;
    // margin-right: 0.8em;
  }
}

.breadcrumbs {
  background-color: $block-bg-color;

  margin-bottom: 20px;

  @media (max-width: $screen-sm) {
    background-color: transparent;
    margin-top: 20px;
  }
}
