// В этом файле должны быть стили для БЭМ-блока breadcrumbs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.breadcrumbs__list {
  @include reset-list;
  @include container();

  color: $text-color;
  display: flex;


  a {
    color: $text-color;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $text-color;
      text-decoration: none;
    }
  }
}

.breadcrumbs__item {
  display: inline-block;
  margin-right: 1.8em;
  white-space: nowrap;
  padding: 30px 0;

  &:first-child:after {
    content: '|';
    display: inline-block;
    margin-left: 1.8em;
    color: $gray;
  }
}

.breadcrumbs {
  background-color: $block-bg-color;

  margin-bottom: 20px;

  &__item {
    &--active {
      text-decoration: underline;
    }
  }
}
