// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {
  position: relative;
  z-index: 99;
  width: 100%;

  &__inner {
    @include container;

    @media (max-width: $screen-sm) {
      padding: 0 22px;
    }
  }

  &__title {
    @include hide-text;
  }

  &__nav-list {
    @include reset-list;

    display: flex;
    flex-wrap: wrap;

    @media (max-width: $screen-sm) {
      position: absolute;
      top: 0;
      flex-direction: column;
      left: 50%;
      transform: translateX(-50%);
      background-color: #ffffff;
      z-index: 5;
      width: 100%;
      align-content: center;
    }
  }

  &__wrapper {
    display: flex;

    @media (max-width: $screen-sm) {
      border-bottom: 1px solid $border-color
    }
  }

  &__menu-inner {
    @media (max-width: $screen-sm) {
      display: flex;
      align-items: center;
    }
  }

  &__menu-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid $border-color;

    @media (max-width: $screen-sm) {
      border-bottom: none;
      justify-content: flex-end;
    }
  }

  .logo__wrapper {
    padding: 0;
    display: none;

    @media (max-width: $screen-sm) {
      display: block;
      display: flex;
      order: -1;
    }
  }

  &__nav {
    @media (max-width: $screen-sm) {
      display: none;
    }
  }

  .page-header__menu-title {
    display: none;
  }

  .page-header__nav-item {
    .page-header__cart {
      display: none;
    }
  }

  .nav-item__mob-item {
    display: none;
  }

  &--opened {
    .page-header__link {
      display: flex;

      .page-header__cart {
        @media (max-width: $screen-sm) {
          display: block;
          position: absolute;
          top: -5px;
          left: 95px;
        }
      }
      .page-header__btn {
        padding-top: 0;
      }
    }

    .nav-item__mob-item {
      @media (max-width: $screen-sm) {
        display: block;
      }
    }

    @media (max-width: $screen-sm) {
      position: relative;

    &::before {
      display: flex;
      position: relative;
      content: "";
      top: 48px;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      background-color: rgba(0,0,0,.5);
      z-index: 6;
    }

    .page-header__nav {
      @media (max-width: $screen-sm) {
        display: block;
        z-index: 5;
      }
    }

    .page-header__menu-title {

      @media (max-width: $screen-sm) {
        font-size: 22px;
        line-height: 33px;
        font-weight: 400;
        margin: 0;
        position: absolute;
        z-index: 6;
        display: block;
        top: 13px;
        left: 22px;
      }
    }

    .page-header__nav-list {
      padding: 0 22px;
      padding-top: 212px;
      padding-bottom: 100vh;
    }

    .page-header__mob-list {
      display: block;
      padding: 0;

      margin-left: 35px;
    }

    .page-header__link {
      font-size: 17px;
      line-height: 25px;
      color: #000000;

      @media (max-width: $screen-sm) {
        padding: 10px;
        position: relative;
      }
    }

    #logo__wrapper {
      @media (max-width: $screen-sm) {
        position: relative;
        z-index: 5;
        top: 90px;
      }
    }
    }
  }

  &__mob-item {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }

  &__choco-item {
    font-size: 14px;
    line-height: 21px;
    color: rgba($color: #000000, $alpha: 0.5)
  }

  &__choco-list {
    padding: 0;
    margin-left: 25px;
  }

  &__nav-item {
    margin-right: 1.8em;

    @media (max-width: $screen-sm) {
      margin-right: 0;
      width: 100%;
    }
  }

  &__mob-list {
    display: none;
  }

  &__mob-list,
  &__choco-list {
    list-style: none;
  }

  &__link {
    display: block;

    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: $text-color;
    text-decoration: none;

    padding: 25px 0;

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }

  &__cart {
    margin-top: 4px;
  }

  .logo {
    img {
      @media (max-width: $screen-sm) {
        margin: 13px 0;
      }
    }
  }

  &__logo {
    display: block;
  }

  &__btn {
    @include reset-button;
    margin-right: 5px;
    padding-top: 1px;

    color: #ffffff;

    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 19px;
      height: 19px;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: #000000;
      border-radius: 50%;
      z-index: -1;
    }
  }

  .burger {
    display: none;

    @media (max-width: $screen-sm) {
      display: block;
      margin-left: 15px;
    }
  }
}
