// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {
  @include container();

  &__nav-list {
    @include reset-list;

    display: flex;
    flex-wrap: wrap;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid $border-color;
  }

  &__nav-item {
    margin-right: 1.8em;
  }

  &__link {
    display: block;

    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: $text-color;

    padding: 25px 0;

    &--active {
      text-decoration: underline;
    }

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }

  &__logo {
    display: block;
  }

  &__btn {
    @include reset-button;

    color: #ffffff;

    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 19px;
      height: 19px;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: #000000;
      border-radius: 50%;
      z-index: -1;
    }
  }
}
