// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {
  position: relative;
  z-index: 99;
  width: 100%;

  &__inner {
    @include container;

    @media (max-width: $screen-sm) {
      padding: 0 22px;
    }
  }

  &__title {
    @include hide-text;
  }

  &__nav-list {
    @include reset-list;

    display: flex;
    flex-wrap: wrap;

    @media (max-width: $screen-sm) {
      position: absolute;
      top: 0;
      flex-direction: column;
      left: 50%;
      transform: translateX(-50%);
      background-color: #ffffff;
      z-index: 5;
      width: 100%;
      align-content: center;
    }
  }

  &__wrapper {
    display: flex;

    @media (max-width: $screen-sm) {
      border-bottom: 1px solid $border-color
    }
  }

  &__menu-inner {
    @media (max-width: $screen-sm) {
      display: flex;
      align-items: center;
    }
  }

  &__menu-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid $border-color;

    @media (max-width: $screen-sm) {
      border-bottom: none;
      justify-content: flex-end;
    }
  }

  &__nav {
    @media (max-width: $screen-sm) {
      display: none;
    }
  }

  &__nav-item {
    margin-right: 1.8em;

    @media (max-width: $screen-sm) {
      margin-right: 0;
      width: 100%;
      text-align: center;
    }
  }

  &__link {
    display: block;

    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: $text-color;
    text-decoration: none;

    padding: 25px 0;

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }

  &__logo {
    display: block;
  }

  &__btn {
    @include reset-button;
    margin-right: 5px;
    padding-top: 1px;

    color: #ffffff;

    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 19px;
      height: 19px;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: #000000;
      border-radius: 50%;
      z-index: -1;
    }
  }

  .logo__wrapper {
    padding: 0;
    display: none;

    @media (max-width: $screen-sm) {
      display: block;
      order: -1;
    }
  }

  .burger {
    display: none;

    @media (max-width: $screen-sm) {
      display: block;
      margin-left: 15px;
    }
  }
}
