@mixin hide-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin h2-style {
  font-size: 28px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 25px;
}
