// В этом файле должны быть стили для БЭМ-блока goods, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.goods {
  $block-name:                &; // #{$block-name}__element

  @include container();

  &__list {
    @include reset-list;

    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    flex-basis: 25%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 20px;

    img {
      display: block;
      margin-bottom: 100px;
    }

    &:hover,
    &:focus {
      background-color: $block-hover-color;
      cursor: pointer;

      .goods__inner {
        display: block;
      }

      .goods__select {
        display: block;
      }
    }
  }

  &__select {
    position: absolute;
    width: 21px;
    height: 21px;
    top: 14px;
    right: 16px;
    background-color: #ffffff;
    border-radius: 50%;
    z-index: 1;
    display: none;
  }

  &__title {
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    text-align: center;

    margin: 0;
    margin-bottom: 25px;

    max-width: 200px;
    padding: 0 20px;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
  }

  &__weight,
  &__price {
    display: block;
    font-size: 12px;
    line-height: 18px;
  }

  &__weight {
    margin-right: 1.8em;
  }

  &__inner {
    display: none;
    margin-top: -120px;
  }
}
