// В этом файле должны быть стили для БЭМ-блока goods, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.goods {
  $block-name:                &; // #{$block-name}__element

  @include container();

  @media (max-width: $screen-sm) {
    padding: 0 22px;
  }

  &__list {
    @include reset-list;
    display: flex;
    flex-wrap: wrap;

    &--home {
      width: 100%;
      padding: 70px 0 0;
      margin: 0 !important;

      @media (max-width: $screen-sm) {
        padding: 30px 0 0;
      }

      .slick-list {
        width: 100%;
      }

      .slick-next {
        @extend .icon--arrow-slider;
      }

      .slick-prev {
        @extend .icon--arrow-slider;
        transform: rotate(-180deg);

        &.slick-disabled {
          display: none !important;
        }
      }

      .slick-arrow {

        &:before {
          display: none;
        }
      }

      .slick-dots {
        bottom: 14px;

        li {
          margin: 0;
          height: 1px;
          transition: all 1s cubic-bezier(.215,.61,.355,1);;

          &.slick-active {

            button {
              background-color: $black;
            }
          }
        }

        button {
          width: 100%;
          height: 1px;
          padding: 0;
          margin: 0;
          background-color: rgba(112, 112, 112, 0.5);

          &:before {
            display: none;
          }
        }
      }
    }

    &--large {
      position: static;
      width: 65%;
      padding: 0;
      margin: 0 0 0 50px !important;

      .slick-dots {
        bottom: 14px;
        left: 0;
      }

      .slick-prev {
        left: 33%;
      }
    }
  }

  &__item {
    display: flex !important;
    flex-basis: 25%;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-decoration: none;
    color: $black;
    padding-bottom: 20px;
    margin-bottom: 20px;
    transition: all $transition-time ease-in-out;

    @media (max-width: $screen-md) {
      flex-basis: 50%;
    }

    @media (max-width: $screen-sm) {
      flex-basis: 100%;
    }

    img {
      display: block;
    }

    &:hover,
    &:focus {
      color: $black;
      background-color: rgba($color: #000000, $alpha: 0.05);
      cursor: pointer;

      .goods__inner {
        opacity: 1;
        visibility: visible;
      }

      .goods__select {
        opacity: 1;
      }

      @media (max-width: $screen-sm) {
        background-color: transparent;
      }
    }

    &--home {
      flex-basis: 20%;
      width: 20%;
    }

    &--large {
      flex-basis: 33.3333%;
      width: 33.3333%;
    }
  }

  &__select {
    position: absolute;
    z-index: 1;
    top: 14px;
    right: 16px;
    width: 21px;
    height: 21px;
    background-color: #ffffff;
    border-radius: 50%;
    opacity: 0;

    @media (max-width: $screen-sm) {
      right: 36px;
      opacity: 1;
      background-color: rgba($color: #000000, $alpha: 0.05);
      width: 30px;
      height: 30px;
      top: 18px;
      right: 36px;
    }

    &::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 6px;
      height: 1px;
      z-index: 3;
      background-color: #F2EDE6;
    }

    &--checked {
      position: absolute;
      width: 21px;
      height: 21px;
      top: 14px;
      right: 16px;
      border-radius: 50%;
      z-index: 1;
      background-color: #CB9F71;

      @media (max-width: $screen-sm) {
        width: 30px;
        height: 30px;
        top: 18px;
        right: 36px;
      }

      &::before {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 12px;
        height: 8px;
        background-image: url("../img/select-apply.svg");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 2;
      }
    }

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }

  &__title {
    max-width: 200px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    text-align: center;
    margin: 0 0 25px;
    padding: 0 20px;


    @media (max-width: $screen-sm) {
      margin-bottom: 20px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: center;
  }

  &__weight,
  &__price {
    display: block;
    font-size: 12px;
    line-height: 18px;
  }

  &__weight {
    margin-right: 1.8em;
  }

  &__inner {
    opacity: 0;
    visibility: hidden;
    transition: all $transition-time ease-in-out;

    @media (max-width: $screen-sm) {
      opacity: 1;
      visibility: visible;
    }
  }
}
