// В этом файле должны быть стили для БЭМ-блока ticket, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.ticket {

  $block-name:                &; // #{$block-name}__element
  @include container();

  @media (max-width: $screen-md) {
    padding: 0 120px;
  }

  @media (max-width: $screen-sm) {
    padding: 0 22px;
  }

  &__inner {
    display: flex;
    // align-items: center;
    position: relative;
    flex-wrap: wrap;
    padding: 0 7.5%;
    margin-bottom: 14%;
    justify-content: space-between;

    @media (max-width: $screen-lg) {
      padding: 0;
    }

    @media (max-width: $screen-md) {
      padding: 0;
      flex-direction: column;
    }
  }

  &__info-list,
  &__list,
  &__title-list {
    @include reset-list;
  }

  &__info-list {
    display: none;

    &--active {
      display: block;
    }
  }

  &__btn-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 68px;

    @media (max-width: $screen-xl) {
      flex-direction: column;
    }

    // @media (max-width: $screen-md) {
    //   flex-direction: column;
    // }
  }

  &__btn {
    width: 49%;

    @media (max-width: $screen-xl) {
      width: 100%;
    }
  }

  &__btn-margin {
    @media (max-width: $screen-xl) {
      margin-bottom: 25px;
    }

    @media (max-width: $screen-md) {
      margin-bottom: 15px;
    }
  }

  &__list {
    margin-bottom: 80px;
  }

  &__wrapper {
    width: 624px;

    @media (max-width: $screen-xl) {
      width: 50%;
    }

    @media (max-width: $screen-md) {
      width: 100%;
    }
  }

  &__main-title {
    @include h2-style;
    font-weight: 400;

    margin-bottom: 0;
  }

  &__title-wrapper {
    margin-bottom: 48px;

    @media (max-width: $screen-md) {
      position: absolute;
      top: 30px;
      left: 0;
    }
  }

  &__title-list {
    display: flex;
    flex-wrap: wrap;
  }

  &__title-link {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #707070;
  }

  &__title-item {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__title {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    margin: 0;

    @media (max-width: $screen-md) {
      font-size: 17px;
    }
  }

  &__img-wrapper {
    width: 50%;
    margin-left: -40px;
    margin-top: -160px;

    @media (max-width: $screen-xl) {
      margin-top: -45px;
    }

    @media (max-width: $screen-md) {
      width: 100%;
      margin-left: 0;
      margin-top: 0;
    }
  }

  &__bg-wrapper {
    background-color: $light-grey;
    padding: 8.5px 15px;
    display: flex;

    margin-bottom: 12px;
    position: relative;
  }

  &__line {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    &:hover,
    &:focus {
      cursor: pointer;
      opacity: 0.5;
      transition: $transition-time;
    }

    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 15px;
      height: 1px;
      background-color: rgb(112, 112, 112);
      top: 15px;
      left: 8px;
    }

    &::before {
      transform: rotate(90deg);
    }
  }

  &__info-item {
    display: flex;
    position: relative;
  }

  &__dots {
    flex-grow: 1;

    &::after {
      position: absolute;
      left: 4px;
      bottom: 0;
      content: ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . ";
      width: calc(100% - 6px);
      overflow: hidden;
      white-space: nowrap;
    }
  }

  &__text,
  &__info-text {
    background-color: #ffffff;
    z-index: 1;

    @media (max-width: $screen-md) {
      font-size: 12px;
    }
  }

  &__gallery-list {
    @include reset-list;

    display: flex;
  }

  &__gallery-item {
    img {
      display: block;
    }

    &:not(:last-child) {
      margin-right: 30px;
    }

    @media (max-width: $screen-md) {
      display: none;
    }
  }
}
