// В этом файле должны быть стили для БЭМ-блока team, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.team {

  $block-name:                &; // #{$block-name}__element
  margin-bottom: 50px;

  .press__inner {
    position: relative;

  }

  // .press__logo-wrapper {
  //   margin: 0;
  //   padding: 0;
  //   top: 50%;
  //   left: -105px;
  //   transform: translateY(-50%);
  //   position: absolute;
  // }

  .logo {
    img {
      margin: 0;
    }
  }
}
