//- Все примеси в этом файле должны начинаться c имени блока (team)

mixin team(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +team('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' team--' + modsList[i].trim();
      }
    }

  .team(class=allMods)&attributes(attributes)
    //- .press__logo-wrapper
      //- +logo(false)
      //-   img(src='img/logo.svg', alt='Logo', width='81', height='21')
    ul.press__list
      li.press__item
        .press__item-inner
          .press__wrapper
            .press__inner
              h2.press__title Александра Новикова
              .press__logo-wrapper
                +logo(false)
                 img(src='img/logo.svg', alt='Logo', width='81', height='21')
            p.press__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            a.press__link(href="#")
              img(src="img/arrow-link.svg" width="30" height="13")
          picture.team__img-wrapper
            source(srcset="img/teammate-aleksandra-mobile@1x.jpg 1x, img/teammate-aleksandra-mobile@2x.jpg 2x" media="(max-width: 768px)")
            img(src="img/teammate-aleksandra@1x.jpg" srcset="img/teammate-aleksandra@2x.jpg 2x" width="300" height="300" alt="Александра").press__img
      li.press__item
        .press__item-inner
          .press__wrapper
            h2.press__title Калерия Брю
            p.press__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            a.press__link(href="#")
              img(src="img/arrow-link.svg" width="30" height="13")
          picture.team__img-wrapper
            source(srcset="img/teammate-kaleriya-mobile@1x.jpg 1x, img/teammate-kaleriya-mobile@2x.jpg 2x" media="(max-width: 768px)")
            img(src="img/teammate-kaleriya@1x.jpg" srcset="img/teammate-kaleriya@2x.jpg 2x" width="300" height="300" alt="Александра").press__img
      li.press__item
        .press__item-inner
          .press__wrapper
            h2.press__title Александра Новикова
            p.press__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            a.press__link(href="#")
              img(src="img/arrow-link.svg" width="30" height="13")
          picture.team__img-wrapper
            source(srcset="img/teammate-aleksandra-mobile@1x.jpg 1x, img/teammate-aleksandra-mobile@2x.jpg 2x" media="(max-width: 768px)")
            img(src="img/teammate-aleksandra@1x.jpg" srcset="img/teammate-aleksandra@2x.jpg 2x" width="300" height="300" alt="Александра").press__img
      li.press__item
        .press__item-inner
          .press__wrapper
            h2.press__title Калерия Брю
            p.press__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            a.press__link(href="#")
              img(src="img/arrow-link.svg" width="30" height="13")
          picture.team__img-wrapper
            source(srcset="img/teammate-kaleriya-mobile@1x.jpg 1x, img/teammate-kaleriya-mobile@2x.jpg 2x" media="(max-width: 768px)")
            img(src="img/teammate-kaleriya@1x.jpg" srcset="img/teammate-kaleriya@2x.jpg 2x" width="300" height="300" alt="Александра").press__img
