// В этом файле должны быть стили для БЭМ-блока team, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.team {

  $block-name:                &; // #{$block-name}__element
  margin-bottom: 50px;

  .press__logo-wrapper {
    margin-top: 135px;
    margin-bottom: -136px;
  }
}
