// В этом файле должны быть стили для БЭМ-блока partners, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.partners {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 120px;

  #{$block-name}__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    padding: 3px;
  }
}
