// В этом файле должны быть стили для БЭМ-блока catalog, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.catalog {

  $block-name:                &; // #{$block-name}__element

  .goods__item {
    width: auto;
    margin-bottom: 0;
    flex-basis: auto;

    img {
      margin-bottom: 60px;

      @media (max-width: $screen-sm) {
        max-width: fit-content;
        margin: 0 -22px;
      }
    }

    @media (max-width: $screen-sm) {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  .goods__inner {
    margin-top: -120px;

    @media (max-width: $screen-sm) {
      margin-top: -100px;
    }
  }

  .goods__title {
    margin-bottom: 15%;

    @media (max-width: $screen-xl) {
      margin-top: 10%;
    }

    @media (max-width: $screen-lg) {
      margin-bottom: 10%;
      margin-top: 10%;
    }

    @media (max-width: $screen-md) {
      margin-bottom: 5%;
    }

    &--width {
      max-width: 220px;
    }
  }

  .goods__item--padding {
    img {
      padding: 42px 34.5px;
      // padding: 9.69% 7.96%;
      @media (max-width: $screen-md) {
        padding: 9.69% 7.96%;
      }
    }
  }

  .goods__list {
    flex-wrap: nowrap;

    @media (max-width: $screen-sm) {
      order: -1;
      margin-bottom: 50px;
      border-bottom: 1px solid #b3b3b3;
      --n: 1;
      width: calc(var(--n)*100%);
      overflow-y: hidden;
    }
  }

  &__content {
    @include container();

    margin-bottom: 5.5%;

    @media (max-width: $screen-sm) {
      padding: 0 22px;
    }
  }

  &__list {
    @include reset-list;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media (max-width: $screen-sm) {
      margin-bottom: 30px;
      flex-wrap: nowrap;
    }
  }

  &__item {
    display: flex;
    align-content: center;
    border-bottom: 1px solid #b3b3b3;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 5.556%;
    }

    @media (max-width: $screen-sm) {
      border-bottom: none;
      display: flex;
      flex-direction: column;
    }
  }

  &__main-title {
    @include h2-style;

    @media (max-width: $screen-sm) {
      font-size: 22px;
      font-weight: 400;
      margin-bottom: 20px;
    }
  }

  p {
    display: block;
    margin: 0;
  }

  &__text {
    margin-bottom: 60px;

    @media (max-width: $screen-sm) {
      font-size: 12px;
    }
  }

  &__link {
    display: block;
    color: #ffffff;
    width: fit-content;
    padding: 11.5px 48px;
    text-align: center;

    @media (max-width: $screen-sm) {
      width: 100%;
    }
  }

  &__link-wrapper {
    img {
      margin-left: 14px;
    }
  }

  .catalog__logo {
    @include container();
  }
}
