extends ../pug/layout.pug

block meta
  title Mojo
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

//- block nav
//-   +navigation

block content
  main
    .logo__wrapper.catalog__logo
      +logo(false)
        img(src='img/logo.svg' alt='Logo' width='81' height='21')
    +catalog


//- block footer
//-   p footer

//- //- block append page-bottom
//- //-   script(src='js/some.js')
