extends ../pug/layout.pug

block meta
  title Mojo
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

//- block nav
//-   +navigation

block content
  main
    .logo__wrapper
      +logo(false)
        img(src='img/logo.svg' alt='Logo' width='81' height='21')
    .breadcrumbs
      +breadcrumbs()
        +breadcrumbs-item('Все товары')
        +breadcrumbs-item('Пасты')
        +breadcrumbs-item('Шоколад кешью')
        +breadcrumbs-item('Горький шоколад')

    +goods()

//- block footer
//-   p footer

//- //- block append page-bottom
//- //-   script(src='js/some.js')
