// В этом файле должны быть стили для БЭМ-блока logo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.logo {

  $block-name:                &; // #{$block-name}__element

  display: inline-block;
  white-space: nowrap;

  // @include container();
  // padding: 0;

  img {
    display: block;
    margin: 25px 0;
  }

  &__wrapper {
    @include container();
    // padding: 0;

    // display: none;
  }
}
