// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {
  @include container();

  margin-bottom: 50px;
  padding: 0 22px;

  &__inner {
    padding: 0 60px;
    border-top: 1px solid rgba(112, 112, 112, 0.5);
    margin-bottom: 5.5%;

    @media (max-width: $screen-sm) {
      padding: 0;
     }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @media (max-width: $screen-sm) {
     flex-wrap: wrap;
    }
  }

  a:hover,
  a:focus {
    color: $footer-link-color-hover;
  }
}

.page-footer__contacts {
  width: 15%;

  @media (max-width: $screen-sm) {
    width: 50%;
   }
}

.page-footer__faq {
  width: 18%;

  @media (max-width: $screen-sm) {
    width: 50%;
   }
}

.page-footer__about-us {
  width: 10%;

  @media (max-width: $screen-sm) {
    width: 100%;
   }
}

.page-footer__follow-us {
  width: 30%;

  @media (max-width: $screen-sm) {
    width: 100%;
   }
}
