// В этом файле должны быть стили для БЭМ-блока store, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.store {

  $block-name:                &; // #{$block-name}__element

  @include container();

  margin-top: 10.43%;
  margin-bottom: 24%;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // padding: 0 10.834%;
    padding: 0 195px;

    @media (max-width: $screen-xxl) and (min-width: $screen-xl) {
      padding: 0 125px;
    }

    @media (max-width: $screen-xl) and (min-width: $screen-lg) {
      padding: 0 145px;
    }

    @media (max-width: $screen-lg) and (min-width: $screen-md) {
      padding: 0 125px;
    }
  }

  &__list {
    @include reset-list;
    // margin-right: 5.556%;
    margin: 0 20px;
    margin-bottom: 40px;
  }

  &__item {
    margin-bottom: 45px;
  }

  &__item-inner {
    position: relative;
  }

  &__logo-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -190px;

    @media (max-width: $screen-xxl) and (min-width: $screen-xl) {
      left: -135px;
    }

    @media (max-width: $screen-xl) and (min-width: $screen-lg) {
      left: -160px;
    }

    @media (max-width: $screen-lg) and (min-width: $screen-md) {
      left: -140px;
    }
  }

  &__title {
    font-size: 28px;
    line-height: 28px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 25px;
  }

  p {
    margin: 0;
  }

  &__adress,
  &__tel {
    display: block;
  }

  &__logo-wrapper {
    .logo{
      img {
        margin: 0;
      }
    }
  }
}
