// В этом файле должны быть стили для БЭМ-блока store, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.store {

  $block-name:                &; // #{$block-name}__element

  @include container();
  display: flex;
  margin-top: 200px;

  &__list {
    @include reset-list;
    margin-right: 100px;
    margin-bottom: 340px;
  }

  &__title {
    font-size: 28px;
    line-height: 28px;
    font-weight: 400;
  }

  p {
    margin: 0;
  }

  &__adress,
  &__tel {
    display: block;
  }

  &__logo-wrapper {
    margin-right: 100px;
  }
}
