//- Все примеси в этом файле должны начинаться c имени блока (store)

mixin store(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +store('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' store--' + modsList[i].trim();
      }
    }

  .store(class=allMods)&attributes(attributes)
    .store__inner
      ul.store__list
        li.store__item
          h2.store__title Москва центр
          p
            span.store__adress Адрес: ул. Тверская, 8, стр. 1
            span.store__tel Телефон: 8 (495) 629-64-83
        li.store__item
          h2.store__title Москва север
          p
            span.store__adress Адрес: ул. Лескова, 8
            span.store__tel Телефон: 8 (495) 629-64-83
        li.store__item
          h2.store__title Москва Запад
          p
            span.store__adress Адрес: ул. Поклонная, 11, стр. 1
            span.store__tel Телефон: 8 (495) 629-64-83
      ul.store__list
        li.store__item
          h2.store__title Москва Афимолл
          p
            span.store__adress Адрес: ул. Тверская, 8, стр. 1
            span.store__tel Телефон: 8 (495) 629-64-83
        li.store__item
          h2.store__title Москва ЦУМ
          p
            span.store__adress Адрес: ул. Лескова, 8
            span.store__tel Телефон: 8 (495) 629-64-83
        li.store__item
          h2.store__title Москва запад
          p
            span.store__adress Адрес: ул. Поклонная, 11, стр. 1
            span.store__tel Телефон: 8 (495) 629-64-83
      ul.store__list
        li.store__item
          h2.store__title Москва Авиапарк
          p
            span.store__adress Адрес: ул. Тверская, 8, стр. 1
            span.store__tel Телефон: 8 (495) 629-64-83
        li.store__item
          h2.store__title Москва Атриум
          p
            span.store__adress Адрес: ул. Лескова, 8
            span.store__tel Телефон: 8 (495) 629-64-83
        li.store__item
          h2.store__title Москва Охотничий ряд
          p
            span.store__adress Адрес: ул. Поклонная, 11, стр. 1
            span.store__tel Телефон: 8 (495) 629-64-83
      ul.store__list
        li.store__item
          h2.store__title Москва Цветной
          p
            span.store__adress Адрес: ул. Тверская, 8, стр. 1
            span.store__tel Телефон: 8 (495) 629-64-83
        li.store__item
          h2.store__title Москва север
          p
            span.store__adress Адрес: ул. Лескова, 8
            span.store__tel Телефон: 8 (495) 629-64-83
