//- Все примеси в этом файле должны начинаться c имени блока (home-block)

mixin home-block(mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +home-block('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' home-block--' + modsList[i].trim();
      }
    }

  .home-block(class=allMods)&attributes(attributes)
    .home-block__inner
      .home-block__item
        .js-home-product.goods__list.goods__list--home
          -for (var i = 0; i < 3; i++)
            a(href="#").goods__item.goods__item--home
              span.goods__select
              img(src="img/paste-popcorn@1x.png" alt="Попкорн-паста")
              .goods__inner
                h3.goods__title Паста со вкусом ореха кешью
                .goods__wrapper
                  span.goods__weight 200 гр
                  span.goods__price 400 ₽
            a(href="#").goods__item.goods__item--home
              span.goods__select.goods__select--checked
              img(src="img/paste-creamy@1x.png" alt="Крем-паста")
              .goods__inner
                h3.goods__title Паста со вкусом ореха кешью
                .goods__wrapper
                  span.goods__weight 200 гр
                  span.goods__price 400 ₽
            a(href="#").goods__item.goods__item--home
              span.goods__select
              img(src="img/paste-cookie@1x.png" alt="Бисквит-паста")
              .goods__inner
                h3.goods__title Паста со вкусом ореха кешью
                .goods__wrapper
                  span.goods__weight 200 гр
                  span.goods__price 400 ₽

    .home-block__item
